<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Gabriel Ferrari Tarallo Ferraz" />
        <title>Page Title</title>
        <link rel="stylesheet" href="./video-stylesheet.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <a href="index.html">&times;</a>
        <div class="bg">
            <a href="index.html">x</a>
            <video controls loop autoplay>
                <source src="./assets/video/delete-projects.mp4" type="video/mp4">
            </video>
        </div>
    </body>
</html>