* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 8px;
}

em {
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
    font-family: 'Roboto', sans-serif;
}

form {
    margin-top: 12px;
    display: block;
    width: calc(100% - 12px);
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 6px;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #000000;
    padding-left: 6px;
    height: 25px;
    width: calc(100% - 12px);
}

input[type="submit"] {
    padding: 6px;
    height: 30px;
    width: 75px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}

.main-section {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shields {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shields > img {
    margin: 0 6px;
}

#node-img {
    max-width: 640px;
}

.bg-blue-green {
    background-image: linear-gradient(120deg, #155799, #159957);
}

.bg-orange-red {
    background-image: linear-gradient(120deg, #D84A05, #E70E02);
}

.bg-blue-purple {
    background-image: linear-gradient(120deg, #46097d, #155799);
}

.jumbotron {
    padding: 16px;
    border-radius: 8px;
    margin: 24px 0;
    min-height: 300px;
    width: calc(100% - 32px);
    
}

.main-text {
    margin-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    opacity: 0.8;
    text-align: center;
}

.secondary-text {
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    opacity: 0.8;
    text-align: center ;
    font-size: 18px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.elegant-btn {
    padding: 8px 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #dddddd;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

a.elegant-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#routes-header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 16px;
    opacity: 0.8;
}

.link {
    display: block;
    border-radius: 3px;
    margin-top: 16px;
    padding: 8px;
    width: 100px;
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.blue {
    border: 2px solid #3058F1;
    color: #3058F1;
}

.green {
    border: 2px solid #158F15;
    color: #158F15;
}

.orange {
    border: 2px solid #D84A05;
    color: #D84A05;
}

.red {
    border: 2px solid #E70E02;
    color: #E70E02;
}

.container {
    position: relative;
    display: block;
    height: 300px;
    border-radius: 12px;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start
}

.http-verb {
    font-weight: 500;
    padding: 6px;
    width: 65px;
    text-align: center;
    border-radius: 6px;
}

.url {
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .container-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .container-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    #node-img {
        max-width: 320px;
    }
    .container-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
    }
}